<ion-header collapse="condensed" type="ios">
  <ion-title size="large"><h1>Dashboard</h1></ion-title>
</ion-header>
<ion-content class="ion-padding" id="container">
   <div class="total-equity ion-padding-bottom">
    <p class="subtitle">Total equity</p>
    <p class="heading1 ion-padding-bottom">{{ totalEquity }}</p>
  </div>
    <!-- Holdings -->
    <div id="holdings">
      <p class="subheading">Holdings</p>
      <ion-grid gutter="none" [fixed]="true">
        <ion-row>
          <ion-col size="4" size-sm="4" size-md="4" size-lg="4" size-xl="4">
            <p class="column-header">Stock</p>
          </ion-col>
          <ion-col size="4" size-sm="4" size-md="4" size-lg="4" size-xl="4">
            <p class="column-header">Price</p>
          </ion-col>
          <ion-col size="4" size-sm="4" size-md="4" size-lg="4" size-xl="4">
            <p class="column-header">Change</p>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let stock of stocks">
          <ion-col size="4" size-sm="4" size-md="4" size-lg="4" size-xl="4">
            <div class="column-body">
              <p class="body2">{{ stock.name }}</p>
              <p class="body3"><ion-text color="medium">{{ stock.units }}</ion-text></p>
            </div>
          </ion-col>
          <ion-col size="4" size-sm="4" size-md="4" size-lg="4" size-xl="4">
            <div class="column-body">
            <p>${{ stock.price }}</p>
            </div>
          </ion-col>
          <ion-col size="4" size-sm="4" size-md="4" size-lg="4" size-xl="4">
            <div class="column-body">
              <div class="pill">
                <p class="label-5">+{{ stock.change }}%</p>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- Trending Stocks -->
     <div class="trending-stocks">
      <p class="subheading">Trending Stocks</p>
      <div class="stock-card-overflow-x">
        <app-stock-card 
          *ngFor="let stock of trendingStocks"
          variant="lite"
          [shortcode]="stock.shortcode" 
          [name]="stock.name" 
          [type]="stock.type" 
          [stockPrice]="stock.stockPrice" 
          [logoUrl]="stock.logoUrl">
        </app-stock-card>
      </div>
     </div>

</ion-content>