<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="investment" href="/tabs/investment" class="custom-tab-button">
      <ion-icon src="/assets/icon/invest.svg"></ion-icon>
      <ion-label>Invest</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="discover" href="/tabs/discover" class="custom-tab-button">
      <ion-icon src="/assets/icon/search.svg"></ion-icon>
      <ion-label>Discover</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
