.stock-card {
  width: 100%;
  border: 1px solid #E3E3E3;
  padding: 16px 14px;

  &--lite {
    min-width: 126px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &-footer {
    display: flex;
    border-top: 1px solid #E3E3E3;
    padding: 12px 0;
    justify-content: flex-start;
    gap: 16px;
    align-items: center;
    &-item {
      display: flex;
      min-width: 75px;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
    }
  }

  &-category {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;

    &--reverse {
      flex-direction: column-reverse;
    }
  }

  &-price {
    font-weight: 800;
  }

  .type {
    border: 1px solid #141414;
    border-radius: 16px;
    width: max-content;
    padding: 0 6px;
    font-weight: 800;
    font-size: 10px;
    line-height: 130%;
    letter-spacing: 0.25px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #141414;
  }
}

.body3 {
  font-weight: 504;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.25px;
}
